<div class="card">
    <div class="card-header">
    <h1 class="display-6">Proposals of this Week</h1> 
    </div>
    <div class="card-body row">
        <div class="col-12" *ngFor="let p of proposal">
            <h5 class="card-title">{{p.title}}</h5>
            <p class="card-text">{{p.desc}}</p>
           
         <button href="#" class="btn btn-danger">Not Accepted</button>
            <button href="#" class="btn btn-success">Accepted</button>
            <hr>
        </div>
       
        </div>
        </div>