<div class="card">
    <div class="card-header">
      Events
    </div>
    <div class="card-body row">
        <div class="col">
        <h5 class="card-title">MR. FRESHER 2022</h5>
        <p class="card-text">Who sholud be the MR. Fresher 2022? Vote Now!</p></div>
        <div class="col">
            <button href="#" class="btn btn-primary">VOTE</button>
        </div>
        
    
</div>
    <hr>
    <div class="card-body row">
        <div class="col">
        <h5 class="card-title">BEST DANCER CHAKRA 2022</h5>
        <p class="card-text">Who sholud be the Best Dancer in CHAKRA 2022? Vote Now!</p></div>
        <div class="col">
            <button href="#" class="btn btn-primary">VOTE</button>
        </div>
        
    
</div>
      </div>
  