<div class="card">
    <div class="card-header">
      Tasks
    </div>
    <div class="card-body row">
        <div class="col">
        <h5 class="card-title">Unit-2</h5>
        <p class="card-text">Natural Language Processing.</p>
        <button href="#" class="btn btn-warning">In Progress</button>
        <button href="#" class="btn btn-primary">Completed</button>
    </div>
     <div class="col">Due Date
        <h5 class="card-title text-danger">25 FEB 2022</h5>
     </div>
     
    <div class="card-body row">
        <div class="col">
        <h5 class="card-title">Unit-2</h5>
        <p class="card-text">Natural Language Processing.</p>
        <button href="#" class="btn btn-warning">In Progress</button>
        <button href="#" class="btn btn-primary text-center">Completed</button>
    </div>
     <div class="col">Due Date
        <h5 class="card-title text-danger">25 FEB 2022</h5>
     </div>
     
      </div>
  </div>