<div class="main">
    <h4 class="display-5 text-center">
        Task Details
    </h4>
</div>
  <div>
    <div class="text ">
      <label class="text-primary" position="stacked">Name</label>
      <p>{{task.name}}</p>
    </div>
    <div class="text ">
        <label class="text-primary" position="stacked">Description</label>
        <p>{{task.desc}}</p>
      </div>
      <div class="text ">
        <label class="text-primary" position="stacked">Assigned Date</label>
        <p>{{task.assignedDate}}</p>
      </div>
      <div class="text ">
        <label class="text-danger" position="stacked">Due Date</label>
        <p>{{task.dueDate}}</p>
      </div>
      <div class="text-center ">
       <h4 class="display-6">0 days Remaining </h4>
      </div>
      <hr>
      <div class="text-center ">
        <button class="btn btn-warning">Mark As In Progress</button>
        <button class="btn btn-primary">Mark As Completed</button>
      </div>
    </div>