<div class="main">
    <h4 class="display-5 text-center">
        Task Details
    </h4>
</div>
  <div>
    <div class="text ">
      <label class="text-primary" position="stacked">Name</label>
      <p>{{task.name}}</p>
    </div>
    <div class="text ">
        <label class="text-primary" position="stacked">Description</label>
        <p>{{task.desc}}</p>
      </div>
      <div class="text ">
        <label class="text-primary" position="stacked">Assigned Date</label>
        <p>{{task.assignedDate}}</p>
      </div>
      <div class="text ">
        <label class="text-danger" position="stacked">Due Date</label>
        <p>{{task.dueDate}}</p>
      </div>
      <div class="text-center ">
       <h4 class="display-6 text-primary" *ngIf="task.inProgress && !task.isCompleted">Task is in Progress.... </h4>
       <h4 class="display-6 text-primary" *ngIf="task.isCompleted">This Task is Completed!! </h4>
      </div>
      <hr>
      <div class="text-center ">
        <button *ngIf="!task.inProgress" class="btn btn-warning" (click)="inProgress()">Mark As In Progress</button>
        <button *ngIf="!task.isCompleted" class="btn btn-primary" (click)="completed()">Mark As Completed</button>
      </div>
    </div>